<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <!-- chave uada para criptograr o login e senha -->  
      <add key="CryptoKey" value="abcdefghijklmnop"/>
      <!-- endereço da API -->
      <add key="ApiBasPath" value="http://localhost:21088/api/v1/"/>
    </appSettings>
</configuration>